 * {
     font-family: "Inter", sans-serif;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 .app-container {
     max-width: 1440px;
     margin: 0 auto;
     padding-left: 10px;
     padding-right: 10px;
 }

 /* navbar-sec */
 .nav-main {
     background-color: black;
     color: white;
     padding-bottom: 100px;
 }

 nav {
     display: flex;
     justify-content: space-between;
     padding: 50px 0;
     align-items: center;
 }

 h1 {
     font-size: 36px;

 }

 .links {
     display: flex;
     gap: 20px;
 }

 .links a {
     text-decoration: none;
     color: white;
     font-weight: 500;
     font-size: 19px;
     border-bottom: 2px solid white;
     padding-bottom: 4px;
     cursor: pointer;

 }

 .menu a {

     text-decoration: none;
     color: white;
     font-weight: 500;
     font-size: 19px;
     border-bottom: 2px solid white;
     padding-bottom: 4px;
     cursor: pointer;
 }

 @media screen and (max-width: 700px) {
     .links a {
         display: none;
     }

     .menu {
         display: block;
     }

     .logo {
         font-size: 30px;
     }

 }

 /* navbar-end */

 /* Hero section start */
 .heroleft {
     max-width: 950px;
 }

 .hero-para {
     font-size: 110px;
     font-weight: 400;
 }

 .hero-sec-para {
     font-size: 100px;

     font-weight: 400;
 }

 .hero-sec-para span {
     background-color: blue;
 }

 .hero-btn {

     font-size: 20px;
     padding: 15px 20px;
     margin-top: 50px;
     text-align: center;
     background-color: blue;
     border: none;
     border-radius: 100px;
     color: white;
 }

 .hero-btn:hover {
     background-color: white;
     color: black;
     cursor: pointer;
 }

 .hero-main {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .right-para {
     color: white;
     font-weight: 300;
     font-size: 20px;
     line-height: 24px;
     letter-spacing: 0;
 }

 .heroright {
     max-width: 500px;
     width: 100%;
 }

 .flex-hero {
     display: flex;
     justify-content: space-between;
     padding-bottom: 90px;
 }

 @media screen and (max-width: 700px) {
     .hero-main {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .hero-para {
         font-size: 40px;
     }

     .hero-sec-para {
         font-size: 50px;
     }

     .hero-btn {
         padding: 15px 30px;
         margin-bottom: 20px;

     }

 }

 @media screen and (max-width: 350px) {

     .hero-main {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .hero-para {
         font-size: 30px;
     }

     .hero-sec-para {
         font-size: 40px;
     }

     .hero-btn {
         /* width: 100%; */
         font-size: 15px;
         padding: 10px 20px;
     }
 }

 /* Hero section end */
 /* about section start */
 h2 {
     max-width: 600px;
     font-size: 42px;
     font-weight: 500;
     padding-bottom: 60px;
     padding-top: 40px;
 }

 .about-spn {
     background-color: blue;
     color: white;
 }

 .about-para-1 {
     max-width: 690px;
     padding-bottom: 15px;
     font-size: 20px;
     font-weight: 400;
 }

 .about-right {
     max-width: 45px;
     height: 1px;
     background-color: black;
 }



 /* about section end */

 /* our-services-sec start */
 .our-spn {
     color: blue;
     font-size: 49px;
     font-weight: 500;
 }

 .our-para {
     font-size: 40px;
     font-weight: 400;
     max-width: 1050px;
     padding-bottom: 20px;
 }

 .card-img {
     width: 100%;
     height: 100%;
     border-radius: 10px;
 }

 .image {
     max-width: 586px;
     padding-top: 20px;
     margin-bottom: -8px;
 }

 .about-card {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     max-width: 800px;
     background-color: #f1eeee;
     border-radius: 8px;
     border: 1px solid lightgrey;
     padding: 20px 20px 0px 20px;

 }

 .about-link {
     font-size: 29px;
     font-weight: 500;
     cursor: pointer;
     padding-top: 15px;
 }

 .about-para {
     font-weight: 400;
     font-size: 20px;
     padding-bottom: 20px;
 }

 .ank {
     text-decoration: none;
     font-size: 20px;
     font-weight: 500;
     color: blue;
 }

 .card-heading {
     color: blue;
     font-size: 30px;
 }

 .about-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     padding-top: 20px;
     row-gap: 30px;
     column-gap: 30px;
 }

 @media screen and (max-width: 700px) {
     .about-grid {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
     }
 }

 .end-card {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #f1eeee;
     border-radius: 10px;
     margin-top: 30px;
     border: 1px solid lightgrey;
 }

 .left-end-card {
     max-width: 650px;
     padding-left: 20px;
 }

 .left-end-card p {
     font-size: 30px;
     padding-bottom: 20px;
 }

 .link-ank {
     font-size: 18px;
     font-weight: 500;
     color: #C2B8FF;
     text-decoration: none;
 }

 .right-end-card {
     max-width: 624px;
     margin-bottom: -11px;
     margin-right: -3px;
 }

 .end-card-image {
     max-width: 100%;
 }

 /* our-services-sec end */

 /* choose us section */
 .main-choose {
     padding: 50px 0px;
 }

 .choose-done {
     color: blue;
     font-weight: 600;
 }

 .choose-btn {

     padding: 10px 12px;
     border-radius: 8px;
     font-size: 14px;
     font-weight: 400;
     background-color: #f1eeee;
     border: 1px solid lightgrey;
     cursor: pointer;
     text-decoration: none;
     color: black
 }

 .button-section a {
     text-decoration: none;
     color: black;
 }

 .button-sec-flex {
     max-width: 2500px;
     display: flex;
     flex-wrap: wrap;
     gap: 8px;
     padding: 10px;

 }


 .choose-head {
     font-size: 51px;
 }



 .choose-para {
     font-size: 22px;
     font-weight: 400;
     max-width: 824px;
     padding: 20px 0px;
 }

 .tool-head {
     font-size: 60px;
     font-weight: 600;
     line-height: 60px;
     letter-spacing: 0.4px;
     max-width: 600px;
     text-align: center;
 }

 .tool-para {
     font-size: 24px;
     font-weight: 400;
     padding-top: 20px;
     line-height: 30px;
     letter-spacing: 0.3px;
     max-width: 520px;
     text-align: center;
 }

 .tool-left {
     margin-left: auto;
     margin-right: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .tool-icon {
     color: blue;

 }

 .tool-img {
     width: 100%;
     height: 100%;
     border-radius: 10px;
     margin: 50px 0;
 }

 .tool-image {
     max-width: 900px;
 }

 .tool-image {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
 }

 .tool-card {
     max-width: 390px;
     border: 1px solid lightgrey;
     padding: 20px;
     border-radius: 8px;
     background-color: #f1eeee;
 }

 .card-head {
     font-weight: bold;
     font-size: 24px;
     line-height: 28px;
     letter-spacing: 0.3px;
     padding-top: 20px;
 }

 .card-para {
     font-size: 20px;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0.3px;
     padding-top: 10px;
 }

 .tool-card-grid {
     display: grid;
     grid-template-columns: repeat(2, auto);
     gap: 20px;
     padding-top: 20px;
     justify-content: center;
     margin-bottom: 70px;
 }

 @media screen and (max-width: 700px) {
     .tool-card-grid {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .tool-head {
         font-size: 40px;
     }

     .tool-para {
         font-size: 20px;
     }

     .tool-card {
         max-width: 100%;
     }
 }

 .cta-head {
     font-weight: 400;
     font-size: 85px;
     line-height: 95px;
     letter-spacing: -3.4px;
     max-width: 726px;

 }

 .cta-para {
     font-weight: 400;
     font-size: 20px;
     line-height: 30px;
     letter-spacing: 0.3px;
     max-width: 500px;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .cta-btn {
     font-size: 20px;
     padding: 15px 20px;
     margin-top: 50px;
     text-align: center;
     background-color: blue;
     border: none;
     border-radius: 100px;
     color: white;
 }

 .cta-btn:hover {
     background-color: #0000ff;
     color: white;
 }

 .cta-flex {
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .cta-img {
     width: 100%;
 }

 .cta-image {
     max-width: 640px;
     padding-bottom: 70px;
 }

 @media screen and (max-width: 700px) {
     .cta-flex {
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .cta-head {
         font-size: 50px;
     }

     .cta-para {
         font-size: 20px;
     }

     .cta-btn {
         padding: 10px 20px;
         font-size: 15px;
     }

     .cta-image {
         padding-right: 30px;
     }
 }

 .footer-main {
     padding-top: 50px;
     background-color: black;
     color: white;
 }

 .footer-logo {
     font-size: 40px;
     font-weight: 500;
     cursor: pointer;

 }

 .footer-links {
     display: flex;
     gap: 50px;
     padding: 0 15px;
 }

 .footer-links a {
     text-decoration: none;
     color: white;
     font-weight: 500;
     font-size: 19px;
     padding-bottom: 4px;
     cursor: pointer;
 }

 .footer-top {
     display: flex;
     align-items: center;
     gap: 60px;
     /* border-bottom: 1px solid white; */
     padding: 10px 0;
 }

 .footer-list {
     list-style: none;
 }

 .footer-list a {
     text-decoration: none;
     color: lightgray;
 }

 .footer-list-head {
     font-weight: 400;
     margin-bottom: 10px;
     color: white;
     font-size: 25px;
 }

 .footer-list li {
     padding: 6px 0;
     font-size: 18px;
     color: lightgrey;
     cursor: pointer;
 }

 .footer-list-flex {
     display: flex;
     justify-content: space-between;
     padding: 60px 0;
 }

 @media screen and (max-width: 700px) {
     .footer-list-flex {
         flex-direction: column;

     }

     .footer-links {
         flex-direction: column;
     }

     .footer-right {
         display: flex;
         flex-direction: column;
     }
 }

 .footer-right a {
     text-decoration: none;
     color: lightgrey;
     font-weight: 300;
     font-size: 16px;
     cursor: pointer;
     padding: 0 10px;
 }

 .footer-top-flex {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 20px 0;
     border-left: 2px solid white;
 }

 .ftr-spn {
     border-bottom: 1px solid white;
     padding-bottom: 5px;
     color: blue;
     cursor: pointer;
 }

 .footer-end {
     padding: 20px 0;
     text-align: center;
 }